html {
    font-family: 'Trebuchet MS';
    color: #fff;
    background-color: #000;
}
body {
    margin: 0;
    background: linear-gradient(-45deg, #141e3a, #331241);
    opacity: 1;
    animation-name: bganim;
    animation-duration: 2s;
}
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation-name: containeranim;
    animation-duration: 1s;
}
h1 {
    background-color: #16161699;
    padding: 100px 200px;
    font-size: 50px;
    width: fit-content;
}
form {
    background-color: #16161699;
    padding: 100px 200px;
    text-align: center;
}
input {
    background-color: #1e1e1eaa;
    color: #fff;
    border: #2e2e2e00 2px solid;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}
input:focus {
    border: #2e2e2e66 2px solid;
    outline: none;
}
@keyframes bganim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes containeranim {
    from {
        top: 10%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}